* {
  margin: 0;
  padding: 0;
  font-family: "Gotham SSm";
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham SSm";
  src: url(./fonts/GothamSSm-Medium_Web.woff2);
}

a {
  color: unset;
}

*::selection {
  color: white;
  background-color: #171A20;
}